.title-page {
  color:rgb(211, 15, 225)
}
.container-reward {
  max-width: 100%;
  height: 250px;
  font-size: 13px;
  width: 40%;
  border-radius: 4px;
}
.container-reward:nth-child(odd) {
  border: 1px solid rgb(23, 235, 83);
}
.container-reward:nth-child(even) {
  border: 1px solid rgb(250, 35, 89);
}
.container-reward > div {
  height: calc(100% - 30px);
}
.imgModalReward {
  position: relative;
  margin-bottom: 30px;
  top: 30px;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.title-page {
  position: absolute;
  top: 30px;
  background: linear-gradient(90deg, #2680eb 0%, #d511e3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}

.title-modal {
  color:rgb(47, 247, 103);
}

.btn-modal {
  margin: 10px 0px;
  border: none;
  padding: 10px 40px;
  background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
}

.lotteria-container {
  height: 500px;
}

.lotteria{
  width:330px;
  height:330px;
  border:1px solid rgb(18, 222, 157);
  position:absolute;
  top:100px; left:0;right:0;
  margin:auto;
  border-radius:50%; 
}
.btn-random {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  padding: 10px 35px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.circle-round-1, .circle-round-2, .circle-round-3, .circle-round-4, .circle-round-5{
  width:30px;
  height:30px;
  border-radius:50%;
  position:absolute;
  overflow:hidden;
  margin:auto;
  
}

.circle-round-1 {
  background:cyan;
  top:0; bottom:0; left:0;right:0;
}
.circle-round-2 {
  background:greenyellow;
  top:100px;left:0;right:0;
}
.circle-round-3 {
  background:red;
  bottom: 100px; left:0;right:0;
}
.circle-round-4 {
  background:rebeccapurple;
  top:0; bottom:0; left:70px;
}
.circle-round-5 {
  background: orange;
  top:0; bottom:0; right:70px;
}

.animate-circle-1 {
  animation: circle 3s linear infinite;
}
.animate-circle-2 {
  animation: circle2 3s linear infinite;
}
.animate-circle-3 {
  animation: circle3 3s linear infinite;
}
.animate-circle-4 {
  animation: circle4 3s linear infinite;
}
.animate-circle-5 {
  animation: circle5 3s linear infinite;
}
@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-100px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-100px)
              rotate(-360deg);
  }
}
@keyframes circle2{
  0%{
    transform:rotate(0deg)
              translate(50px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(50px)
              rotate(-360deg);
  }
}
@keyframes circle3{
  0%{
    transform:rotate(0deg)
              translate(-50px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-50px)
              rotate(-360deg);
  }
}
@keyframes circle4{
  0%{
    transform:rotate(0deg)
              translate(75px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(75px)
              rotate(-360deg);
  }
}
@keyframes circle5{
  0%{
    transform:rotate(0deg)
              translate(-75px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-75px)
              rotate(-360deg);
  }
}